body,
html {
  height: 100%;
  width: 100%;
  font-family: proxima-nova-regular, sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  box-sizing: border-box;
  -ms-overflow-style: scrollbar;
}

li {
  list-style: none;
}
ul {
  padding: 0;
  margin: 0;
}

h1{
  font-family: proxima-nova-bold, sans-serif;
}
