@import "variables";

.search-banner{
    width: $banner-width;
    height: $banner-height;
    background-image: url("../images/6.gif");
    background-repeat: no-repeat;
    background-size:cover;
    display: flex;
    justify-content: center;
    
    .search-bar{
        height: auto;
        width: auto;
        padding-left: 90px;
        .search-input{
            width: 450px;
            height: 50px;
            margin-right: 10px;
            border-radius: 30px;
            margin-top: 250px;
            padding-left: 20px;
            font-size: 20px;
            outline: none;
            border: 0;
            -webkit-box-shadow: 4px 4px 37px -5px rgba(0,0,0,0.68); 
            box-shadow: 4px 4px 37px -5px rgba(0,0,0,0.68);
        }
        img{
            position: relative;
            bottom: 3px;
            right: 60px;
            max-width: 40px;
            max-height: 40px;
            cursor: pointer;
        }
    }

    
    
}


.categories{
    border-top: 1px solid $border-color;
    width: $banner-width;
    height: $banner-height;
}

.cities{
    border-top: 1px solid $border-color;
    width: $banner-width;
    height: $banner-height;
    background-color: #F4F4F4;
}

.motivation{
    border-top: 1px solid $border-color;
    width: $banner-width;
    height: $banner-height;
}

