@import "variables";


.search-banner{
    width: $banner-width;
    height: $banner-height;
    background-image: url("../images/6.gif");
    background-repeat: no-repeat;
    background-size:cover;
    display: flex;
    justify-content: center;

    .search-bar{
        height: 50px;
        width: 400px;

        .search-input{
            width: 100%;
            height: 100%;
            margin-right: 10px;
            border-radius: 5px 0px 0px 5px;
            margin-top: 250px;
            padding-left: 20px;
            font-size: 20px;
            outline: none;
            border: 0;
            -webkit-box-shadow: 4px 4px 37px -5px rgba(0,0,0,0.68); 
            box-shadow: 4px 4px 37px -5px rgba(0,0,0,0.68);
        }
        .btn{
            background-image: url("../../assets/images/searchIcon.png");
            height: 45px;
            width: 45px;
            background-repeat: no-repeat;
            background-color: white;
            background-position: center;
            background-size: contain;
            border-radius: 0px 5px 5px 0px;
            border: 0px;
        }
    }
}


.categories-banner{
    border-top: 1px solid $border-color;
    width: $banner-width;
    height: $banner-height;
    padding: 100px 25px;

    .container{
        height: 100%;
        flex-wrap: nowrap;
        
        .row{
            height: 100%;
            .col {
                width: auto;
                height: auto;
                padding: 0 !important;
                margin: 0 10px;
                -webkit-box-shadow: 4px 4px 37px -5px rgba(0,0,0,0.68); 
                box-shadow: 4px 4px 25px -5px rgba(0,0,0,0.68);
                .card-image {
                    width: auto;
                    height: auto;
                    
                    img{
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }      
                .card-text{
                    width: auto;
                    height: auto;
                    padding: 60px 0px;
                    background-color: #F4F4F4;
                    h1{
                        width: 100%;
                        height: auto;
                        text-align: center;
                    }
                }
            }
        }
    }

}

.cities{
    border-top: 1px solid $border-color;
    width: $banner-width;
    height: $banner-height;
    background-color: #F4F4F4;
    padding: 50px 25px;

    .title{
        width: 100%;
        text-align: center;
        padding: 10px;
    }
    .container{
        height: 100%;
        
        .row{
            width: auto;
            height: auto;
            background-color: white;
            padding: 50px;
            .col{
                background-color: white;
                height: 300px;
                padding: 0;

                .city-search{
                    height: auto;
                    width: auto;
                        .search-input{
                            width: 320px;
                            height: 40px;
                            border-radius: 5px;
                            margin-top: 50px;
                            padding-left: 20px;
                            font-size: 20px;
                            outline: none;
                            border: 0;
                            display: table-cell;
                            -webkit-box-shadow: 4px 4px 37px -5px rgba(0,0,0,0.68); 
                            box-shadow: 4px 4px 20px -5px rgba(0,0,0,0.68);
                        }
                        button{
                            border-radius: 50%;
                            outline: none;
                            width: $button-small-width;
                            height: 40px;
                            background-color: #8C0883;
                            border-radius: 5px;
                            border: 1px solid $button-border-clr;
                            color: #F4F4F4;
                            cursor: pointer;
                            display: table-cell;
                            margin-left: 20px;
                        }
                        
                    }
                    .suggested-city{
                        margin-top: 30px;
                    }
                .cities{
                    width: auto;
                    height: inherit;
                    padding-top: 30px;
                    ul{
                        padding-right: 80px;
                        display: table-cell;
                        li{
                            padding: 5px;
                            font-size: 20px;
                        }
                    }
                }
                
            }
        }
    }
}

.motivation{
    border-top: 1px solid $border-color;
    width: $banner-width;
    height: $banner-height;
}

