@import "variables";

.main-container{
    padding: 0px;
}

.search-banner{
    width: $banner-width;
    height: $banner-height;
    background-image: url("../images/6.gif");
    background-repeat: no-repeat;
    background-size:cover;
    display: flex;
    justify-content: center;
    align-items: center;

    .search-bar{
        height: 50px;
        width: auto;
        display: flex;
        .search-input{
            width: 350px;
            height: auto;
            border-radius: 5px 0px 0px 5px;
            padding-left: 20px;
            font-size: 20px;
            outline: none;
            border: 0;
            box-shadow: 0px 0px 12px 2px rgba(15, 15, 15, 0.2);
        }
        .btn{
            background-image: url("../../assets/images/searchIcon.png");
            background-repeat: no-repeat;
            background-color: white;
            background-position: center;
            background-size: contain;
            width: 50px;
            border-radius: 0px 5px 5px 0px;
            border: 0px;
            margin: 0%;
        }

    }
}


.categories-banner{
    border-top: 1px solid $border-color;
    width: $banner-width;
    height: 100%;
    padding: 100px 25px;

    .container{
        height: 100%;
        
        .row{
            height: 100%;
            .col {
                width: auto;
                height: auto;
                padding: 0 !important;
                margin: 0 10px;
                box-shadow: 0px 0px 12px 2px rgba(15, 15, 15, 0.2);
                transition: width 1s ;
                a{
                    text-decoration: none;
                    color: black;
                }
                .card-image {
                    width: auto;
                    height: auto;
                    
                    img{
                        
                        width: 100%;
                        height: 100%;
                        object-fit: fill;
                    }
                }      
                .card-text{
                    
                    width: auto;
                    height: auto;
                    padding: 60px 0px;
                    background-color: #F4F4F4;
                    h1{
                        width: 100%;
                        height: 100%;
                        text-align: center;
                        font-family: "satisfy";
                    }
                }
            }

        }
    }

}

.cities{
    border-top: 1px solid $border-color;
    width: $banner-width;
    height: 100%;
    background-color: #F4F4F4;
    padding: 50px 25px;
    

    .title{
        width: 100%;
        text-align: center;
        padding: 10px;
        font-family: 'satisfy';
        color: $button-border-clr;
    }
    .container{
        height: 100%;
        
        .row{
            width: 100%;
            height: auto;
            background-color: white;
            padding: 40px;
            .col{
                background-color: white;
                height: 300px;
                display: flex;
                flex-direction: column;
                flex-wrap: wrap;

                .city-search{
                    height: 50px;
                    
                    .search-input{
                        width: 350px;
                        height: inherit;
                        border-radius: 5px;
                        padding-left: 20px;
                        margin-right: 15px;
                        font-size: 20px;
                        outline: none;
                        border: 0;
                        box-shadow: 0px 0px 12px 2px rgba(15, 15, 15, 0.2);
                    }
                    button{
                        border-radius: 5px;
                        outline: none;
                        width: $button-small-width;
                        height: 50px;
                        background-color: #8C0883;
                        border-radius: 5px;
                        border: 0;
                        color: #F4F4F4;
                        cursor: pointer;
                        box-shadow: 0px 0px 12px 2px rgba(15, 15, 15, 0.2);
                    }
                    button:hover{
                        background-color: white;
                        color: #8C0883;
                    }
                    
                    }
                .suggested-city{
                    padding-top: 80px;
                    .current-location{
                        display: flex;
                        flex-direction: row;
                    }

                }
                .list-cities{
                    width: auto;
                    height: inherit;
                    padding-top: 30px;
                    background-color: $button-border-clr;
                    box-shadow: 0px 0px 12px 2px rgba(15, 15, 15, 0.2);
                    border-radius: 5px;
                    ul{
                        padding:10px 50px 10px 50px;
                        display: table-cell;
                        li{
                            padding: 5px;
                            font-size: 20px;
                            
                            a{
                                color: white;
                            }
                            a:hover{
                                text-decoration: none;
                                color: $button-border-clr;
                            }
                        }
                    }
                }
                
            }
        }
    }
}

.motivation{
    border-top: 1px solid $border-color;
    width: $banner-width;
    height: 100%;
    .carousel{
        .carousel-item{
            width: 100%;
            height: 100%
            img{
                background-size: fit;
            }
            .carousel-caption{
                background: rgba(0,0,0,.5);
                opacity: 0.7;
                h3{
                    color: white;
                }
            }
        }
    }
}

