@import "variables";
@import "base";
.navbar{
    padding: 0px;
    .container{
        padding: 0px;
    }
    .nav-logo{
        p{
            font-family: 'satisfy';
            color: $button-bg-clr;
            display: table-cell;
            float: right;
            font-size: 20px;
            padding: 15px 0px 0px 10px;
        }
        a{
            padding: 0px;
        }
    }
}

 
.navbar-options {
    width: auto;
    align-items: right;
    padding: 10px;
    .login {
        border-radius: 5px;
        border: 0px solid $button-border-clr;
        color: $button-bg-clr;
        cursor: pointer;
        margin-right: 10px;
        box-shadow: 0px 0px 12px 2px rgba(15, 15, 15, 0.2);
        }
    .login:hover{
        background-color: white;
        color: $button-bg-clr;
        border: 1px solid $button-border-clr;

    }
    .signup{
        background-color: $button-bg-clr;
        border: 1px solid $button-border-clr;
        box-shadow: 0px 0px 12px 2px rgba(15, 15, 15, 0.2);
    }
    .signup:hover{
        background-color: rgb(184, 17, 184);
        border: 1px solid rgb(184, 17, 184);
    }
}

