@import "variables";
@import "base";


.navbar-container{
    width: 100%;
    height: 50px;
    border-bottom: 1px solid $border-color;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.login-button {
    width: $button-small-width;
    height: $button-small-height;
    background-color: inherit;
    border-radius: 5px;
    border: 0;
    color: $button-bg-clr;
    cursor: pointer;
}
.logo {
    font-family: "satisfy";
    font-size: 15px;
    width: 200px;
    height: 100%;
    margin-left: 10px;
    display: flex;
    flex-direction: row;
    color: $button-bg-clr;
    cursor: pointer;

    img{
        width: 70px;
        height: 100%;
        object-fit: cover;
        margin-top: 5px;
    }

    h3{
        padding-top: 0px;
        margin-top: 10px;
    }
}
 
.navbar-options {
    width: auto;
    align-items: right;
    padding: 10px;
    

    li{
        display: inline-block;
        margin-right: 20px;
        
    }
}

