// Fonts
$smallest-font-size: 14px;
$smallest-line-height: 20px;

$small-font-size: 16px;
$small-line-height: 22px;

$medium-font-size: 20px;
$medium-line-height: 28px;

$medium-large-font-size: 24px;
$medium-large-line-height: 28px;

$large-font-size: 48px;
$large-line-height: 48px;

$largest-font-size: 72px;
$largest-line-height: 72px;

$font-weight: 700;

// borders
$border-color: #c70ebb;
$border-radius-small: 5px;
$border-radius-large: 15px;

// button 
$button-small-width: 70px;
$button-small-height: 30px;

$button-medium-width: 80px;
$button-medium-height: 40px;

$button-bg-clr: #c70ebb;
$button-bg-clr-hover: #e46edc;
$button-border: 0px;



