@import "navbar";
@import 'footer';
@import "variables";
@import "homePage";
@import "base";
@import "login";
@import "restaurants";

.button-small{
    border-radius: 5px;
    border: 0;
    color: white;
    cursor: pointer;
    width: $button-small-width;
    height: $button-small-height;
    background-color: $button-bg-clr;
}
.button-medium{
    border-radius: 5px;
    border: 0;
    color: white;
    cursor: pointer;
    width: $button-medium-width;
    height: $button-medium-height;
    background-color: $button-bg-clr;
}

.banner{
    width: $banner-width;
    height: $banner-height;
}



