@import "navbar";
@import 'footer';
@import "variables";

@font-face {
    font-family: satisfy;
    src: local('Satisfy'), url("../fonts/Satisfy/Satisfy-Regular.ttf") format('truetype');
}

body{
    margin: 0;
}

.button{
    width: 70px;
    height: 30px;
    background-color: $button-bg-clr;
    border-radius: 5px;
    border: 0;
    color: white;
    cursor: pointer;
}
.button :hover{
    background-color: $button-bg-clr-hover;
}

.banner{
    width: $banner-width;
    height: $banner-height;
}

